<%= li_for_issue(issue) do %>
<!-- somewhere below I can try implementing a form_tag for the check-bubble and also look at projects#index for what's different -->
  <div class="view">
    <%= form_for_issue_status(issue) %>

    <label><%= issue.description %></label>

    <%= button_to "x", project_issue_path(issue.project, issue), :method => :delete, :class => "destroy" %>
  </div>
<% end %>
