<%= content_tag_for :li, issue, :class => li_class_for_issue(issue) do %>
  <div class="view">
    <%= form_for([@project, issue]) do |f| %>
      <%= f.check_box :status, :class => "toggle", :checked => (issue.complete?) %>
    <% end %>
    <label><%= issue.description %></label>
  </div>
<% end %>
