<li class="<%= li_class_for_issue(issue) %>">
  <div class="view">
    <%= form_for([@project, issue]) do |f| %>
      <%= f.check_box :status, :class => "toggle", :checked => (true if issue.complete?) %>
    <% end %>
    <label><%= issue.description %></label>
  </div>
</li>
