<h1>Welcome to CONtribUtor (Con-U)</h1>
<h2>Want to rapidly grow as a developer and demo your skills?</h2>
<h2><em>Want to learn how to debug LIKE A BOSS and build features THAT ROCK like a pro?</em></h2>
<ul>
  <li>Find open source projects for every skill level to contribute to!</li>
  <li>Choose from a huge list of issues to fix and features to build!</li>
  <li>Get to work and track your progress!</li>
  <li>LATER: Daily debugging and feature challenges from real life cases!</li>
  <li>LATER: Share your achievements with your friends and the community!</li>
  <li>LATER: Pair off or join a team to tackle problems together!</li>
</ul>
<h3>Ready to get started? It's free to join. Let's get to it!</h3>
<h3>TO-DO: I want a single field email only signup or signin to go here!!!</h3>
<p><%= link_to "Signup!", '/users/new'%></p>
<p><%= link_to "Login!", '/login'%></p>
