<%= li_for_project(project) do %>
<!-- somewhere below I can try implementing a form_tag for the check-bubble and also look at projects#index for what's different -->
  <div class="view">
    <%= form_for_project_status(project) %>
    <input class="toggle" type="checkbox">
    <label><%= link_to project.name, project_path(project) %></label>

    <%= button_to "x", project_path(project), :method => :delete, :class => "destroy" %>
  </div>
<% end %>
