// event listeners
function displayAll(projects) {
  debugger
  resetMain();
  let ul = document.querySelector('#main ul')
  projects.forEach(project => ulDisplay(project))
}

function ulDisplay(project) {
  let ul = document.querySelector('#main ul');
  ul.innerHTML += `<li><a href="#" data-id="${project.id}" class="project-link">${project.name}</a> - ${project.complete ? 'Completed' : 'Not Completed'}</li>`;
}

function display(project) {
  let main = document.querySelector('#main')
  main.innerHTML = `
    <h3>Title: ${project.name}</h3>
    <p>User: ${project.user.username}</p>
    <p>Complete: ${project.complete ? 'Complete' : 'Not Complete'}</p>
  `
}

function createProject(e) {
  e.preventDefault();
  let data = {
    project: {
      name: document.getElementById('name').value,
      complete: document.getElementById('complete').checked
    }
  }

  fetch('http://localhost:3000/projects', {
    method: "POST",
    body: JSON.stringify(data),
    headers: {
      "Accept": "application/json",
      "Content-Type": "application/json"
    }
  })
  .then(resp => resp.json())
  .then(project => {
    // do something with object
    ulDisplay(project);
    let projects = document.getElementsByClassName('project-link');
    projects[projects.length - 1].addEventListener('click', getProject);
    resetForm();
  })
}

function getProject(e) {
  e.preventDefault();
  let id = this.dataset.id;
  fetch(`http://localhost:3000/projects/${id}`)
  .then(resp => resp.json())
  .then(project => {
    display(project);
  })
}

function getProjects() {
  fetch('http://localhost:3000/projects')
  .then(resp => resp.json())
  .then(projects => {
    displayAll(projects);
    attachClickToLinks();
  })
}

function attachClickToProjectList(e) {
  e.preventDefault();
  getProjects();
}

function attachClickToLinks() {
  let links = document.getElementsByClassName('project-link');
  for (let i = 0; i < links.length; i++) {
    links[i].addEventListener('click', getProject);
  }
}

function addSubmitToCreateProjectForm() {
  document.querySelector("a#create-project-form").addEventListener('click', createProjectForm)
}

function addClickEventForListProjects() {
  document.getElementById('list-projects').addEventListener('click', attachClickToProjectList);
}

function resetMain(){
  let main = document.getElementById('main');
  main.innerHTML = '<h3>Projects</h3><hr><ul></ul>'
}

window.addEventListener('load', function(){
  // call all event listeners on page load
  addSubmitToCreateProjectForm();
  addClickEventForListProjects();
  getProjects();
  attachClickToLinks();
