<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <section class="todoapp">
      <div data-reactid=".0">

        <!-- Add the name of the project somewhere on this view -->
        <header class="header" data-reactid=".0.0">
          <h1 data-reactid=".0.0.0">issues</h1>
          <h3 data-reactid=".0.0.0"><%= @project.name %></h3>
          <%= form_for([@project, @issue]) do |f| %>
            <%= f.text_field :description, :class => "new-todo" %>
          <% end %>
        </header>

        <section class="main" data-reactid=".0.1">
          <!-- make this an archive feature -->
          <input id="toggle-all" class="toggle-all" type="checkbox" data-reactid=".0.1.0">
          <label for="toggle-all" data-reactid=".0.1.1"></label>
          <ul class="todo-list" data-reactid=".0.1.2">
            <% @project.issues.each do |issue| %>
              <li class="view" data-reactid=".0.1.2.$368ab340-814e-4ef9-9940-85f447a18c5b">
                <div class="view" data-reactid=".0.1.2.$368ab340-814e-4ef9-9940-85f447a18c5b.0">
                  <input class="toggle" type="checkbox" data-reactid=".0.1.2.$368ab340-814e-4ef9-9940-85f447a18c5b.0.0">
                  <label data-reactid=".0.1.2.$368ab340-814e-4ef9-9940-85f447a18c5b.0.1"><%= issue.description %></label>
                  <button class="destroy" data-reactid=".0.1.2.$368ab340-814e-4ef9-9940-85f447a18c5b.0.2"></button>
                </div>
                <input class="edit" value="Test" data-reactid=".0.1.2.$368ab340-814e-4ef9-9940-85f447a18c5b.1">
            <% end %>
          </section>

          <footer class="footer" data-reactid=".0.2">
            <span class="todo-count" data-reactid=".0.2.0">
              <strong data-reactid=".0.2.0.0">1</strong>
              <span data-reactid=".0.2.0.1"> </span>
              <span data-reactid=".0.2.0.2">issue(s)</span>
              <span data-reactid=".0.2.0.3"> active</span>
            </span>
            <ul class="filters" data-reactid=".0.2.1">
              <li data-reactid=".0.2.1.0"><a href="#/" class="selected" data-reactid=".0.2.1.0.0">All</a></li>
              <span data-reactid=".0.2.1.1"> </span>
              <li data-reactid=".0.2.1.2"><a href="#/active" class="" data-reactid=".0.2.1.2.0">Active</a></li>
              <span data-reactid=".0.2.1.3"> </span>
              <li data-reactid=".0.2.1.4"><a href="#/archived" class="" data-reactid=".0.2.1.4.0">Archived</a></li>
            </ul>

          </footer>
        </div>
      </section>
  </body>
</html>
